.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.centered-x {
  margin-left:50%;
  transform: translateX(-50%);
}
.align-right-pc {
  text-align: right;
}
.align-left-pc {
  text-align: left;
}
.hide-mobile {
  display: none;
}
.link-style {
  color: #81e2ed
}
.link-style:hover {
  color: #c0f1f6;
  text-decoration: none;
}
@media (max-width: 767px) {
  .align-right-pc {
    text-align: center;
  }
  .align-left-pc {
    text-align: center;
  }
  .hide-mobile {
    display: block;
  }
  #heatmap-col{order:1;}
  #activity-col{order:2;}
}
